[submodule "app/modules/CreateContent/Media"]
	path = app/modules/CreateContent/Media
	url = https://github.com/ilyaidea/Media.git
[submodule "app/modules/CreateContent/Album"]
	path = app/modules/CreateContent/Album
	url = https://github.com/ilyaidea/Album.git
[submodule "app/modules/Notification/News"]
	path = app/modules/Notification/News
	url = https://github.com/ilyaidea/News.git
[submodule "app/modules/Showcase/Store"]
	path = app/modules/Showcase/Store
	url = https://github.com/ilyaidea/Store.git
[submodule "app/modules/Showcase/Products"]
    path = app/modules/Showcase/Products
	url = https://github.com/ilyaidea/Products.git
[submodule "app/modules/CreateContent/ContentManagementSystem"]
	path = app/modules/CreateContent/ContentManagementSystem
	url = https://github.com/ilyaidea/ContentManagementSystem.git
