<IfModule mod_rewrite.c>
    RewriteEngine on
    # Ignore directory docs of routes
    RewriteRule ^docs/.*$ - [PT]
    RewriteRule  ^$ public/    [L]
    RewriteRule  ((?s).*) public/$1 [L]
</IfModule>